@import "../libs/variables";
.link-bt {
  text-align: center;
  max-width: 200px;
  margin: 30px;
  display: inline-block;
  padding: 10px 80px;
  text-decoration: none;
  background: #E5F2F3;
  color: #7F7F7F;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #c4cbcb,
  -15px -15px 30px #ffffff;
  cursor: pointer;
  border-bottom: solid 4px #d6d3d3;
  border-right: solid 2px #d6d3d3;
  @media screen and (max-width: 768px) {
    width: 130px;
    margin: 30px 0;
  }
}

.link-bt:active {
   transform: translateY(4px);
   background-color: #d3dfdf;
   box-shadow: 15px 15px 30px #c4cbcb,
   -8px -5px 30px #ffffff;
   border-bottom: none;
   border-right: none;
}
input.bt[type="radio"] {
  width: 70px;
  height: 30px;
  vertical-align: top;
  display: none;
}
input.bt[type="radio"] + label{
  padding: 8px 10px;
  border-radius : 30px;
  border-bottom: solid 6px #d6d3d3;
  border-right: solid 4px #d6d3d3;
  background: #E5F2F3;
  box-shadow: 15px 15px 30px #c4cbcb,
  -8px -5px 30px #ffffff;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  text-align: center;
}
input.bt[type="radio"]:checked + label {
  background    : #d9d9d9;
  border-bottom: none;
  border-right: none;
  transform: translateY(6px);
  background: #e9f1f1;
  box-shadow: inset 8px 8px 16px #b8bebe, 
            inset -8px -8px 16px #ffffff;
}
@media screen and (max-width: 1024px) {
  input.bt[type="radio"] + label{
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  input.bt[type="radio"] + label{
    width: 95px;
  }
}
