@import "../libs/variables";
.c-cards {
  height: auto;
  background-color: #E5F2F3;
  border-radius: 110px;
  box-shadow:  5px 5px 15px #b1b8b8,
   -5px -5px 15px #ffffff;
}
@media screen and (max-width: 450px) {
 .c-cards {
   border-radius: 70px;;
 }
}